In [ ]:
###Filipino Student Employability Predictor###

In [2]:
#Import dataset and libraries here
import pandas as pd

data = pd.read_excel('../data/Student-Employability-Datasets.xlsx')
data = data.drop("Name of Student", axis=1)
data

,GENERAL APPEARANCE,MANNER OF SPEAKING,PHYSICAL CONDITION,MENTAL ALERTNESS,SELF-CONFIDENCE,ABILITY TO PRESENT IDEAS,COMMUNICATION SKILLS,Student Performance Rating,CLASS
0,4,5,4,5,5,5,5,5,Employable
1,4,4,4,4,4,4,3,5,Employable
2,4,3,3,3,3,3,2,5,LessEmployable
3,3,3,3,2,3,3,3,5,LessEmployable
4,4,4,3,3,4,4,3,5,Employable
...,...,...,...,...,...,...,...,...,...
2977,4,3,3,3,3,3,2,5,Employable
2978,3,4,4,4,4,4,4,5,Employable
2979,4,5,4,5,4,4,4,5,Employable
2980,4,4,4,3,4,4,3,5,LessEmployable
2981,4,4,4,4,3,4,4,5,Employable

In [3]:
#Preprocess/prepare dataset for training and testing here
from sklearn.model_selection import train_test_split
x = data.drop('CLASS', axis = 1)
y = data['CLASS']

# print(x)
# print(y)

#70% training and 30% testing
x_train, x_test, y_train, y_test = train_test_split(x,y,train_size=0.7)
print(x_train)

      GENERAL APPEARANCE  MANNER OF SPEAKING  PHYSICAL CONDITION  \
2822                   5                   4                   4
2321                   5                   4                   3
885                    4                   5                   5
1745                   5                   4                   3
1147                   4                   4                   4
...                  ...                 ...                 ...
2313                   3                   4                   3
2766                   5                   3                   4
2784                   4                   3                   3
751                    4                   3                   3
1674                   5                   4                   5

      MENTAL ALERTNESS  SELF-CONFIDENCE  ABILITY TO PRESENT IDEAS  \
2822                 4                4                         4
2321                 3                3                         3
885                  5                5                         5
1745                 3                3                         4
1147                 4                3                         4
...                ...              ...                       ...
2313                 4                3                         4
2766                 4                4                         4
2784                 3                4                         3
751                  3                5                         3
1674                 5                5                         4

      COMMUNICATION SKILLS  Student Performance Rating
2822                     3                           5
2321                     2                           3
885                      5                           3
1745                     4                           5
1147                     4                           5
...                    ...                         ...
2313                     3                           5
2766                     3                           5
2784                     4                           5
751                      3                           3
1674                     4                           5

[2087 rows x 8 columns]

In [4]:
#Normalize train and test sets for MLP
from sklearn.preprocessing import MinMaxScaler

#Sigmoid activation
#scaler = MinMaxScaler(feature_range=(0,1))

#TANH activation
scaler = MinMaxScaler(feature_range=(-1,1))

x_train = scaler.fit_transform(x_train)
x_test = scaler.transform(x_test)
x_train

array([[ 1.        ,  0.33333333,  0.33333333, ...,  0.33333333,
        -0.33333333,  1.        ],
       [ 1.        ,  0.33333333, -0.33333333, ..., -0.33333333,
        -1.        , -1.        ],
       [ 0.33333333,  1.        ,  1.        , ...,  1.        ,
         1.        , -1.        ],
       ...,
       [ 0.33333333, -0.33333333, -0.33333333, ..., -0.33333333,
         0.33333333,  1.        ],
       [ 0.33333333, -0.33333333, -0.33333333, ..., -0.33333333,
        -0.33333333, -1.        ],
       [ 1.        ,  0.33333333,  1.        , ...,  0.33333333,
         0.33333333,  1.        ]])

In [ ]:
#Fit and hyperparametrize model here
from sklearn.neural_network import MLPClassifier

mlp = MLPClassifier()
mlp.fit(x_train,y_train)

In [ ]:
#Predict and display statistics of model here 
predictions = mlp.predict(x_test)

from sklearn.metrics import accuracy_score
accuracy_score(y_test, predictions)